<h1>All of your baby's foods!</h1>

<% @baby_foods.each do |bf| %>
    <h3><%= bf.flavor %> - <%= bf.category.name %></h3>
<div>
    <p><%= bf.description %></p>
</div>
<%= link_to "Write a Review", new_baby_food_review_path(bf.id) %>
<% end %>