<% if object.errors.any? %>
  <div id="error_explanation">
    <h2 style="color: red;">
      <%= pluralize(object.errors.count, "error") %>
      prohibited this from being saved:
    </h2>
 
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li style="color: red;"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>